@media only screen and (max-width: 1200px) {
.col-content, 
.col-screen {
  height: auto;
  padding: 70px 0;
  position: relative;
  width: 100%;
}
.logo {
  margin-bottom: 40px;
  margin-top: 0;
  position: relative;
}
.content {
  position: relative;
  top: inherit !important;
}
.social-column {
  bottom: inherit;
  left: 15%;
  margin-top: 85px;
  position: relative;
  width: 70%;
}
.col-6, 
.col-6 .animate-content {
  width: 100%;
}
.col-screen {
  display: none;
  min-height: 400px;
}
.display_in_mobile {
  display: block !important;
}
.mrs-v9 .col-screen {
  min-height: 450px;
}
#details {
  animation: 0s ease 0s normal none 1 running none;
  position: relative;
  transform: none;
  visibility: visible;
  width: 100%;
}
.logo,
.content {
  margin-left: 50px;
}
.social-column {
  left: 50px;
}
.button-modal-2.open .content {
  height: 464px;
  margin-top: -232px;
  top: 50% !important;
  left: 50% !important;
  transform: none !important;
  margin-left: -220px !important;
}
.align-center .logo {
  margin: auto;
  position: relative;
  transform: none;
  width: 130px;
}
canvas {
  height: 100%;
}
.col-screen.screen-left {
  display: block;
  padding: 20px 0;
  width: 100%;
}
.col-5, 
.col-5 .animate-content {
  width: 100%;
}
.col-7 .content {
  transform: none;
  width: calc(100% - 40px);
}
body.mrs-v6 .social-column {
  bottom: 20px;
  position: absolute;
}
.static-content, 
.full-contact-area {
  height: auto;
  left: inherit;
  margin: auto;
  position: relative;
  top: inherit;
  transform: none;
}
body.mrs-v7 .col-screen {
  display: block;
  position: relative;
}
.col-6.middle-6.col-content {
  height: 100vh;
  margin-left: 0;
  min-height: 640px;
  position: relative;
  text-align: center;
}
.middle-6.col-content .content {
  margin-left: 50px;
  position: absolute;
  top: calc(50% - 165.467px) !important;
  width: calc(100% - 100px);
}
.display_in_mobile .content {
  top: 50% !important;
}
.middle-6 .social-column {
  bottom: 15px;
  left: 0;
  position: absolute;
  width: 100%;
}
.short_description {
  margin: auto;
  max-width: 70%;
  text-align: center;
}

body.mrs-v15 .col-6.middle-6.col-content {
  position: relative;
  min-height: auto;
}
body.mrs-v15 .middle-6 .logo {
  left: inherit;
  margin: auto;
  position: relative;
  transform: none;
}
body.mrs-v15 .middle-6.col-content .content {
  margin: auto;
  position: relative;
  top: inherit;
  transform: none;
  width: 96%;
}
body.mrs-v15 .container {
  min-height: 600px;
  position: relative;
}
.rocekt-main {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.6);
  width: 100%;
}
.container, 
.social-column {
  position: relative;
  width: 100%;
}
.mrs-white .default_mrs_newsletter.mrs_inline_newsletter .newsletter-content {
  margin-bottom: 15px;
}
.bg-container {
  min-height: 640px;
}
body.mrs-v46.mrs-fill {
  color: #111;
}
.mrs-v50 .social-column {
  bottom: 15px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: auto;
  z-index: 9;
}
}
/*    Wide Mobile Layout: 480px+. */
@media only screen and (max-width: 767px) {

body {
    font-size: 14px;
}

.default_mrs_newsletter.mrs_inline_newsletter .newsletter-content {
  margin-bottom: 20px;
  width: 100%;
}
.short_description {
  max-width: 90%;
}

.middle-6.col-content .content,
.middle-6.col-content .content.jquery-center {
  margin-left: 20px;
  position: relative;
  top: inherit !important;
  width: calc(100% - 40px);
}
.middle-6 .logo {
  left: inherit;
  margin-left: 0;
  position: relative;
  transform: none;
}
.mrs-v8 .middle-6 .fat_title,
.mrs-v13 .middle-6 .fat_title,
.mrs-v11 .middle-6 .fat_title,
.mrs-v28 .middle-6 .fat_title,
.mrs-v29 .middle-6 .fat_title,
.mrs-v20 .middle-6 .fat_title {
  font-size: 2.7em;
}
.mrs-v19 .stay_connent_with_social li {
  display: inline-block;
}
.bottom-separator {
  border-bottom: 1px solid transparent;
}
.mrs-v23 .col-10.middle-10.col-content,
.mrs-v24 .col-10.middle-10.col-content  {
  margin-left: 0;
}
.logo.top-left {
  left: inherit;
  position: relative;
  text-align: center;
  transform: none;
}
.mrs-v50 .social-column {
  bottom: 15px;
  left: 0;
  position: absolute;
  text-align: center;
  transform: none;
  width: 100%;
  z-index: 9;
}
}
/*    Mobile Layout: 479px. */

@media only screen and (max-width: 479px) {

.button-modal-2.open .content {
  margin-left: -150px !important;
  width: 300px;
}
.newsletter-inner {
  padding: 0 20px;
}
.newsletter-inner .newsletter-content {
  margin: 35px auto auto;
  width: 100%;
}
h1, .h1 {
    font-size: 2em;
}
.logo {
  margin-left: 20px;
} 
.content {
    margin-left: 20px;
    width: calc(100% - 40px);
}
.social-column {
    left: 20px;
}
.button.button-modal-2, .button.button-modal-3 {
  display: inline-block;
  margin: 0px 10px 15px 0;
}
.btn.btn-text {
  border: 1px solid;
  padding: 9px 43px;
}
.stay_connent_with_social li {
  display: block;
  margin-bottom: 15px;
}
.middle-6 .stay_connent_with_social li {
  display: inline-block;
  margin-bottom: 15px;
}
.middle-6 .stay_connent_with_social {
  width: 98%;
}
.middle-6 .fat_title {
  font-size: 4em;
  font-weight: 800;
  margin-top: 10px;
}
.simple-content h2 {
  font-size: 1.7em;
}
.mrs-v20 .stay_connent_with_social,
.mrs-v22 .stay_connent_with_social,
.mrs-v28 .stay_connent_with_social,
.mrs-v29 .stay_connent_with_social,
.mrs-v31 .stay_connent_with_social,
.mrs-v13 .stay_connent_with_social,
.mrs-v32 .stay_connent_with_social{
  bottom: 55px;
  right: 0;
  width: 100%;
  z-index: 9;
}
.mrs-v20 .stay_connent_with_social li,
.mrs-v22 .stay_connent_with_social li,
.mrs-v28 .stay_connent_with_social li,
.mrs-v29 .stay_connent_with_social li,
.mrs-v13 .stay_connent_with_social li,
.mrs-v31 .stay_connent_with_social li,
.mrs-v32 .stay_connent_with_social li,
.stay_connent_with_social.top-right li,
.stay_connent_with_social.left-center li{
  display: inline-block;
}
.mrs-v20 .position_footer.align-left,
.mrs-v22 .position_footer.align-left,
.mrs-v28 .position_footer.align-left,
.mrs-v29 .position_footer.align-left,
.mrs-v13 .position_footer.align-left,
.mrs-v31 .position_footer.align-left,
.mrs-v32 .position_footer.align-left {
  left: 0;
  text-align: center;
  width: 100%;
}
.stay_connent_with_social.top-right,
.stay_connent_with_social.left-center {
  bottom: 0;
  left: 0;
  top: inherit;
  width: 100%;
  z-index: 9;
}
.coundown-border-inline .simply-section {
  height: 78px;
  width: 78px;
}
.mrs-v50 .coundown-border-inline .simply-section {
  height: 65px;
  width: 65px;
}
.mrs-v50 .simply-amount {
  font-size: 2em;
}
.mrs-v50 .simply-section span.simply-word {
  font-size: 0.6em;
}
}